extends ../layout

block contenido
    div(class="container text-center mt-5")
        h2 Bienvenido al Sistema de Gestión de Turnos

        div(class="btn-group mt-4")
            a.btn.btn-primary(href="/listarPacientes") Paciente
            a.btn.btn-success(href="/agenda") Agenda
            a.btn.btn-info(href="/listarMedicos") Doctores






