/* Estilo para la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }
  
  .table th, .table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
  }
  
  .table th {
    background-color: #4CAF50;
    color: white;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tr:hover {
    background-color: #ddd;
  }
  
  /* Estilo para botones */
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    border: none;
  }
  
  .btn-primary {
    background-color: #4CAF50;
    color: white;
  }
  
  .btn-primary:hover {
    background-color: #45a049;
  }
  
  .btn-secondary {
    background-color: #008CBA;
    color: white;
  }
  
  .btn-secondary:hover {
    background-color: #007bb5;
  }
  
  .btn-danger {
    background-color: #f44336;
    color: white;
  }
  
  .btn-danger:hover {
    background-color: #e53935;
  }
  .btn-success {
    background-color: #4CAF50;
    color: white;
  }
  
  .btn-success:hover {
    background-color: #45a049;
  }
  .btn-info {
    background-color: #008CBA;
    color: white;
  }
  
  .btn-info:hover {
    background-color: #007bb5;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .container input{
    float: right;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
 /* Oculta el checkbox original */
.container input[type="checkbox"] {
  display: none;
}

/* Estilos para el label */
.container input[type="checkbox"] + label {
  position: relative;
  padding-left: 30px; /* Espacio para el cuadro de checkbox */
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

/* Cuadro del checkbox */
.container input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

/* Checkmark (marca de verificación) */
.container input[type="checkbox"]:checked + label:before {
  background-color: #4CAF50;
  content: "✓";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

  .container input[type="date"]{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  .container label{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    float: left;
  }