extends ../layout
block contenido 
    div(class= "container") 
        form(action="/pacientes/subir" method="post") 
            h4 Datos del paciente
            input(name="nombre", type="text", placeholder="Ingrese Nombre")
            br
            input(name="apellido", type="text", placeholder="Ingrese Apellido")
            br
            input(type="text", name="dni", placeholder="Ingrese DNI")
            br
            input(type="text", name="obraSocial", placeholder="Ingrese Obra Social")
            br
            input(type="text", name="mail", placeholder="Ingrese E-mail")
            br
            input(type="text", name="telefono", placeholder="Ingrese Teléfono")
            br               
            input(type="submit", value="Enviar", class="btn btn-success")


